<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>avatars</title>
  <link rel="stylesheet" href="../../../cdn/css/tachyons.css">
</head>
<body>

<div class="pa4 tc">
  <img class="br-100 ba h3 w3 dib" src="../img/avatar.jpg" alt="avatar">
  <img class="br-100 h3 w3 dib" src="../img/avatar.jpg" alt="avatar">
  <img class="br-100 h3 w3 pa1 ba b--black-10" src="../img/avatar.jpg" alt="avatar">
  <img class="br4 h3 w3 dib" src="../img/avatar.jpg" alt="avatar">
  <img class="br2 h3 w3 dib" src="../img/avatar.jpg" alt="avatar">
  <img class="br1 h3 w3 dib" src="../img/avatar.jpg" alt="avatar">
  <img class="h3 w3 dib" src="../img/avatar.jpg" alt="avatar">
</div>

</body>
</html>
