<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>banners-basic</title>
  <link rel="stylesheet" href="../../../cdn/css/tachyons.css">
</head>
<body>

<div class="mw7 center ph3 ph5-ns tc br2 pv5 bg-washed-green dark-green mb5">
  <h1 class="fw6 f3 f2-ns lh-title mt0 mb3">
    This is a tagline. For x.
  </h1>
  <h2 class="fw2 f4 lh-copy mt0 mb3">
    This will change things. And we want you to be involved. This text needs to
    be longer for testing sake.
  </h2>
  <p class="fw1 f5 mt0 mb3">
    Sign up for beta access or learn more about x.
  </p>
  <div>
    <a class="f6 br-pill bg-dark-green no-underline washed-green ba b--dark-green grow pv2 ph3 dib mr3"
       href="#">
      Sign Up
    </a>
    <a class="f6 br-pill dark-green no-underline ba grow pv2 ph3 dib"
       href="#">
      Learn More
    </a>
  </div>
</div>

<div class="bg-lightest-blue pa4 navy flex items-center justify-center mb5">
  <svg class="w1" data-icon="info" viewBox="0 0 32 32" style="fill:currentcolor">
    <title>info icon</title>
    <path d="M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6"></path>
  </svg>
  <span class="lh-title ml3">Some info that you want to call attention to.</span>
</div>

<section class="ph3 ph5-ns pv5">
  <article class="mw8 center br2 ba b--light-blue bg-lightest-blue">
    <div class="dt-ns dt--fixed-ns w-100">
      <div class="pa3 pa4-ns dtc-ns v-mid">
        <div>
          <h2 class="fw4 blue mt0 mb3">This is a promo title </h2>
          <p class="black-70 measure lh-copy mv0">
            This is supporting copy for the wonderful promo catchphrase that is going to be used.
          </p>
        </div>
      </div>
      <div class="pa3 pa4-ns dtc-ns v-mid">
        <a href="#" class="no-underline f6 tc db w-100 pv3 bg-animate bg-blue hover-bg-dark-blue white br2">Sign up for free</a>
      </div>
    </div>
  </article>
</section>

</body>
</html>
